# Ignorar archivos y carpetas generados automáticamente
__pycache__/
*.pyc

# Ignorar archivos específicos
snacks.txt

# Ignorar archivos temporales del sistema operativo
*.tmp
*.log
*.bak
*.swp
.DS_Store
Thumbs.db

# Ignorar entornos virtuales
venv/
.env/